{% extends "index.html" %}
{% load staticfiles sekizai_tags %}
{% load humanize %}
{% load micawber_tags agon_ratings_tags get_ratings_range %}



{% block pagetitle %}
  <title>{{object.primaryArtist.username}} - {{object.name}} | Free Mixtape</title>
  {% endblock pagetitle %}


{% block metasocialmedia %}

<meta property="og:title" content="{% if object.name %} {{ object.name }} {% endif %} " />
<meta property="og:url" content="{% if mt.get_absolute_url %} {{ mt.get_absolute_url }}{% endif %} " />
<meta property="og:image:url" content="{% if  object.images.all %}{% for img in object.images.all %}{% if forloop.first %}{{img.get_image}}{% endif %}{% endfor%}{% endif %}" />
<meta property="og:description" content="{% if object.description %} {{ object.description }} {% endif %}" />

{% endblock metasocialmedia %}




{% block content %}
<!-- new template
			================================================== -->

 <div class="container" style="border:2px solid #333;">

      <div class="blog-header">
        <div class="well slide_well" >

<div id="carousel-main" class="carousel slide" data-ride="carousel" style="margin-bottom:0px;">


      {% include "snippets/slider.html" %}
  </div>

</div>
      </div>

      <div class="row" >
<div class="row">
        <div class="col-sm-12 blog-main" >
          <div class="blog-post">
          <div class="col-sm-6 blog-main" style="float: none;
    margin: 0 auto;">
              <div class="well highlight_mixtape" style="background-color:#fff;color:#333333;border:5px dotted gold">
		{% if countdown %}
                  <div class="thumbnail" style="height:100%;width: 100%;">
                      <div data-ride="carousel" class="carousel slide" id="carousel1" style="margin-bottom:0px;height: 100%;">


                          <div class="carousel-inner">
                              {% if  object.images.all %}
		      {% for img in object.images.all %}
                              <div class="item {% if forloop.first %}active{% endif %}">
                                  <a href="{{ mt.get_mixtape_thumnail }}" class="image" data-lightbox="gallery-1" data-title="{{object.name}}">
                                      <img alt="First slide" style="height:400px;width: 100%;" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="{{img.get_image}}">
                                  </a>
                              </div>
                              {% endfor %}
                              {%else%}
                              <div class="item active">
                                  <img alt="First slide" style="height:400px;width: 100%;" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                              </div>
                              {% endif %}
                          </div>

                      </div>


                      <div class="" style="">
                          <div class="btn-group" style="width:100%;">

                              <button data-slide="prev" role="button" href="#carousel1"  type="button" class="btn btn-default left"  style="width:50%;">Previous</button>
                              <button data-slide="next" role="button" href="#carousel1" type="button" class="btn btn-default right"  style="width:50%;">Next</button>
                          </div>
                      </div>
                  </div>

 			{% else %}
                  <div class="thumbnail" style="height:100%;width: 100%;">
                      <div data-ride="carousel" class=" slide" id="carousel1" style="margin-bottom:0px;height: 100%;">


                          <div class="carousel-inner">

                              <div class="item active">
                                 <b> This mixtape has been approved but is not yet available. Please check again soon. </b>
                              </div>
                          </div>

                      </div>

                  </div>
                  {% endif %}
                  {% if countdown %}
                  <div style="padding-left:0%;" align="center">
	{% if countdown and object.releaseDatetime|date:"Y-m-j-H-i-s"|date_check%}
                      <span >
                          <h2 align="center" style="color:red;">{{object.name}} by {{object.primaryArtist}} - Dropping in</h2></span>
                          <!-- =========================================================== -->
     
                     <!-- <div class="clock" style="width:154%;height:139px;margin-top:-19px;margin-right:-62px;float:right;-moz-transform: scale(0.5);zoom: 0.5;"></div> -->
                            
  <link rel="stylesheet" href="{{STATIC_URL}}flipclockjs/css/flipclock.css">
  
  <script src="{{STATIC_URL}}flipclockjs/js/libs/prism.js"></script>
  <script src="{{STATIC_URL}}flipclockjs/js/libs/modernizr.foundation.js"></script>
<script src="{{STATIC_URL}}js/countdown.js" type="text/javascript"></script>

<style type="text/css">

@-moz-document url-prefix() {

.clock {
 height: 108px;
    margin-bottom: -18px !important;
    margin-left: -13% !important;
    margin-top: -4% !important;
    position: relative;
    width: 800px;

}

}

#Stage_jbeeb_3{

margin-left:19% !important;
}

.social-container .links {
    margin: 0 -18% !important;
    
}


.flip-clock-label{

color: black !important;
    font-size: 30px !important;
    position: absolute !important;
    right: -109px !important;
    text-shadow: none !important;
    top: 3.5em !important;
}

@media screen and (max-width: 819px) {

    /*.home-featured .clock { margin: 0 auto; display: block; width: 322px; }*/


    .flip-clock-wrapper ul { height: 50px !important ; line-height: 50px !important ; margin: 3px !important; }
    .flip-clock-wrapper ul li a div.down:after { bottom: 24px!important; }
    .flip-clock-divider { height: 50px!important; }
    .flip-clock-dot { height: 6px!important; width: 6px!important; left: 7px!important;}
    .flip-clock-dot.top { top: 17px!important; }
    .flip-clock-dot.bottom { bottom: 8px!important; }

    .flip-clock-divider .flip-clock-label { font-size: 16px!important; }
    .flip-clock-divider.days .flip-clock-label { right: -76px!important; }
    .flip-clock-divider.hours .flip-clock-label { right: -70px!important; }
    .flip-clock-divider.minutes .flip-clock-label { right: -64px!important; }
    .flip-clock-divider.seconds .flip-clock-label { right: -70px!important; }

    .flip-clock-wrapper ul { width: 37px!important; }
    .flip-clock-wrapper ul li a div div.inn { font-size: 38px!important; }

    /* Korekcja położenia pól zegara załamanych do nowej linii */
    .flip-clock-wrapper ul { margin-bottom: 35px!important; }
    .flip-clock-wrapper { margin-bottom: -35px!important; }
}

.flip-clock-divider.minutes { clear: none!important;}

@media screen and (max-width: 350px) {

    .flip-clock-divider.minutes { clear: left!important;} /* break clock at minutes */

}

.clock
{

margin: 32px 12%; display: block; width: 638px;

}

</style>  

         <script src="{{STATIC_URL}}flipclockjs/js/libs/jquery.js"></script>
	<script src="{{STATIC_URL}}flipclockjs/js/flipclock/flipclock.js"></script>   

                   <h2 align="center" class="flip-counter clock" style="-moz-transform: scale(0.5);zoom: 0.5;"></h2>
	
<script type="text/javascript">

var clock;
		(function($) {
			var clock;

			clock = $('.clock').FlipClock({
		        clockFace: 'DailyCounter',
		        autoStart: false,
		        
		    });
			console.log('{{object.releaseDatetime|date:"Y-m-j-H-i-s"|counter_value}}');
		    clock.setTime({{object.releaseDatetime|date:"Y-m-j-H-i-s"|counter_value}});
		    clock.setCountdown(true);
		    clock.start();

		}(jQuery));

       </script>

<!--	<script type="text/javascript">

		var clock;
		(function($) {

			var clock;
			clock = $('.flip-counter').FlipClock({
		        clockFace: 'DailyCounter',
		        autoStart: false,
		    
		    });
				    
		    clock.setTime({{object.releaseDatetime|date:"Y-m-j-H-i-s"|counter_value}});
		    clock.setCountdown(true);
		    clock.start();

		})(jQuery);-->

                          <!-- =========================================================== -->
                    <!--  <script type="application/javascript">

                              var myCountdown1 = new Countdown({
                                  time: '{{object.releaseDatetime|date:"Y-m-j-H-i-s"|counter_value}}' , // 86400 seconds = 1 day
                                  width:300,
                                  height:60,
                                  rangeHi:"day",
                                  style:"flip"	// <- no comma on last item!
                              });

                          </script> --> 


                     
                      {% endif %}
                <br>
                  {% endif %}
</div>

                  {% if countdown %}
                  <div class="">
                      <div class="social-container">
                          <div class="links">

                              <a href="#" data-type="twitter" data-url="{{ mt.get_absolute_url }}" data-description="{{object.name}}-{{object.description}}" data-media="{{ object.slider_album_cover }}" data-via="247Mixtapes" data-media="{% if  object.images.all %}{% for img in object.images.all %}{% if forloop.first %}{{img.get_image}}{% endif %}{% endfor%}{% endif %}" class="prettySocial fa fa-twitter twitter"></a>

			<a href="#" data-type="facebook" data-url="{{ mt.get_absolute_url }}" data-title="{{object.name}}." data-description="{{object.name}}-{{object.description}}." data-media="{% if  object.images.all %}{% for img in object.images.all %}{% if forloop.first %}{{img.get_image}}{% endif %}{% endfor%}{% endif %}" class="prettySocial fa fa-facebook facebook"></a>

			<a href="#" data-type="googleplus" data-url="{{ mt.get_absolute_url }}" data-description="{{object.name}}-{{object.description}}." data-media="{{ object.slider_album_cover }}" data-media="{% if  object.images.all %}{% for img in object.images.all %}{% if forloop.first %}{{img.get_image}}{% endif %}{% endfor%}{% endif %}" class="prettySocial fa fa-google-plus google"></a>

			<a href="#" data-type="pinterest" data-url="{{ mt.get_absolute_url }}" data-description="{{object.name}}-{{object.description}}." data-media="{% if  object.images.all %}{% for img in object.images.all %}{% if forloop.first %}{{img.get_image}}{% endif %}{% endfor%}{% endif %}" class="prettySocial fa fa-pinterest pinterest"></a>

			<a href="#" data-type="linkedin" data-url="{{ mt.get_absolute_url }}" data-title="{{object.name}}." data-description="{{object.name}}-{{object.description}}." data-via="Mixtapes" data-media="{% if  object.images.all %}{% for img in object.images.all %}{% if forloop.first %}{{img.get_image}}{% endif %}{% endfor%}{% endif %}" class="prettySocial fa fa-linkedin linkedin"></a>

                          </div>


                      </div>
                  </div>

                  {% endif %}

              </div><br>

 			</div>

          </div><!-- /.blog-post -->




{% if countdown %}
<div class="span8">
			<!-- DISQUS comments section
			================================================== -->
			<div class="row-fluid" id="disqusRow">
			    <div id="disqus_thread" class="well"></div>
			    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			    <a href="http://disqus.com" class="dsq-brlink">comments powered by
			    	<span class="logo-disqus">Disqus</span>
			    </a>
			</div>
		</div>
          {% endif %}

        </div><!-- /.blog-main -->
</div>


      </div><!-- /.row -->

    </div><!-- /.container -->




<!-- new template
			================================================== -->


{% addtoblock "bottom_js" %}

<script src="//connect.soundcloud.com/sdk.js"></script>
<script>
SC.initialize({
  client_id: '0f334ddc5f6987c9c9d9ef686759986e'
});

var track_url = 'http://soundcloud.com/247mixtapes/this-is-my-sound-4';
SC.oEmbed(track_url, { auto_play: true }, function(oEmbed) {
  console.log('oEmbed response: ' + oEmbed.html);
});
</script>

<script>
	{% if object.video_url %}
		$('#video_iframe').fitVids();
	{% endif %}

</script>
{% endaddtoblock %}

{% endblock content %}
