<div class="modal fade" id="add_userprofile_modal" tabindex="-1" role="dialog" aria-labelledby="addUserProfileTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addArtistTitle"><i class="fa fa-user"></i> Add an artist, producer, or DJ</h4>
      </div>
      <div class="modal-body">
        {% include "mixtape/forms/add_userprofile_form.html" %}
      </div>
      <div class="modal-footer">
      <div id="loading-spinner" class="hidden">
                <p style="font-size: 150%"><i class="icon-spinner icon-spin"></i> Processing... </p>
            </div>
        <button type="button" class="btn btn-default" id="modal_close"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add_userprofile_button">Add New Profile <i class="fa fa-plus-circle"></i></button>
      </div>
    </div>
  </div>
</div>