<div class="row-fluid">
    <div class="span6">
        <div class="alert" style="border: 5px solid whiteSmoke">
            <h2 style="text-align: center"><button id="all_done" class="btn btn-success ">Upgrade</h2>
            <hr>
            <p class="text-info">Add-ons are a <strong>proven</strong> and <strong>effective</strong> way to increase exposure to your mixtapes. Our social media reach on twitter alone has the potential to drive thousands of extra page views.</p>
        </div>
    </div>
</div>
