<div class="row-fluid" id="all_done">
              <h1>..and you're done!</h1>
              <p class="text-info">
               Your mixtape has been submitted for approval. You will recieve an e-mail when it is approved.
              </p>
           <br>
           <h2><i class=""></i> Upgrade?</h2>
           <a href="/my-mixtapes" id="addon_upgrade" style="text-decoration: none">
              {% include 'mixtape/snippets/addons.html' %}
          </a>
        </div>


<hr>

<!-- <ul class="pager pull-right" style="margin: 0;">
    <li>
        <a href="#" class="stepback">
            <i class="fa fa-chevron-left"></i>
             Prev            
        </a>
    </li>    
    <li>
        <a href="#" id="upload_tracks_next">
            Next 
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>    

 -->