<p>
    Add your mixtape tracks here. Need we say more?
</p>
<div id="tracks-holder"></div>

<hr>

<button id="upload_tracks_button" class="btn btn-primary">
    <i class="fa fa-cloud-upload"></i>
     Upload Tracks
</button>
<button id="update_tracks" class="btn btn-success">
    <i class="fa fa-save"></i>
    Save
</button>
<span class="error_track" style="display: none;">Please upload a track.</span>
<ul class="pager pull-right" style="margin: 0;">
    <li>
        <a href="#" class="stepback">
            <i class="fa fa-chevron-left"></i>
             Prev            
        </a>
    </li>    
    <li>
        <a href="#" id="upload_tracks_next">
            Next 
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>    