<p>
    Add your mixtape cover images here. We recommend adding both front and back cover images if you have them.
</p>
<div id="images-holder"></div>

<hr>


<button id="upload_images_button" class="btn btn-primary">
    <i class="fa fa-cloud-upload"></i>
    Upload Images
</button>
<button id="update_images" class="btn btn-success">
    <i class="fa fa-save"></i>
    Save
</button>

<ul class="pager pull-right" style="margin: 0;">
    <li>
        <a href="#" class="stepback">
            <i class="fa fa-chevron-left"></i>
            Prev            
        </a>
    </li>    
    <li>
        <a id="upload_images_next" href="#">
            Next 
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>  
