{% extends "index.html" %}
{% load staticfiles sekizai_tags %}
{% block pagetitle %}
  <title>Internal Server Error // 24/7Mixtapes</title>
  {% endblock pagetitle %}
{% block content %}
<div class="collaboration-box error-box" style="background-image: url('{{ STATIC_URL}}img/slider-photos/slogan-background.jpg')">

    <div class="overlay"></div>

    <div class="collaboration-box-content">

        <div class="container">

            <h1 class="collaboration-heading">Error 500</h1>
            <p>Bummer. There seems to be an internal server error. Try visiting the <a href="/">main page</a>.</p>

        </div>

    </div>

</div>
{% endblock %}