<table class="table table-hover table-striped">
    <tbody>
        {% for plan in plans %}
        <tr 
        {% if plan.name|lower == request.user.customer.current_subscription.plan|lower %}
            class ="info"
        {% endif %}
        >
            <td>
                {{plan.name}}
            </td>
            <td>
                <strong>
                    {{plan.price}}
                </strong>
            </td>
            <td>
                Unlimited uploads and downloads, as well as geographic association.
            </td>
            <td>
                {% if plan.name|lower == request.user.customer.current_subscription.plan|lower %}
                    <i class="fa fa-check-circle-o fa-2x"> Current Plan</i>
                {% else %}
                    <button class="btn btn-primary">Upgrade</button>
                {% endif %}
            </td>
        </tr>            
        {% endfor %}
    </tbody>
</table>