{% extends "index.html" %}
{% load staticfiles sekizai_tags %}
{% block pagetitle %}
  <title>Advertise // 24/7Mixtapes</title>
  {% endblock pagetitle %}

{% block content %}


<div class="container">
    <ol class="breadcrumb">
        
    </ol>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-4 col-md-3">

            <div class="standard-box">

                <h2 class="header-box">Submenu</h2>

                <ul class="list with-links list-headers">

                    <li>
                        <h3>
                            <a href="#privacy">Advertise</a>
                        </h3>
                    </li>
                    
                    

                </ul>

            </div>

        </div>

        <div class="col-sm-9 col-md-8">

            <h2 class="header-box" id="privacy">Advertise</h2>

            <div class="text">

                
            <p>    	

            comming Soon..

         </p>       
                
            </div>

        </div>

     

    </div>
    </div>
    {% endblock content %}