<html>
  <head></head>
  <body>
    <p>Hi {{username}},<br>

       <p>Congratulations! Your mixtape has been approved and is now available on 247Mixtapes.com. Details regarding this mixtape are listed below:<br><br>
<strong>Mixtape Name:</strong> {{name}} <br> <strong> Mixtape Link:</strong>  <a href="{{site}}{{url}}">{{site}}{{url}}</a> <br><br>
If you would like to increase exposure for your mixtape, be sure to purchase some <a href="{{site}}/{{id}}/addons/">post-release-upgrades</a>.<br><br>
Sincererly, <br>
<br>
The 24/7 Mixtapes Team <br>www.247Mixtapes.com</p>
    </p>
  </body>
</html>
