{% extends "index.html" %}
{% load staticfiles sekizai_tags %}
{% block pagetitle %}
  <title>Terms and Conditions // 24/7Mixtapes</title>
  {% endblock pagetitle %}

{% block content %}


<div class="container">
    <ol class="breadcrumb">
        
    </ol>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-4 col-md-3">

            <div class="standard-box">

                <h2 class="header-box">Submenu</h2>

                <ul class="list with-links list-headers">

                    <li>
                        <h3>
                            <a href="#terms">24/7 Mixtapes Terms and Conditions</a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a href="#license">License To Use This Site</a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a href="#disclaimer">Disclaimer</a>
                        </h3>
                    </li>

                    <li>
                        <h3>
                            <a href="#liability">Limited Liability</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#indemnification">Indemnification</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#user">User Submissions</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#renewal">Automatic Membership Renewal</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#refund">Refunds Policy</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#termination">Termination</a>
                        </h3>
                    </li>

                </ul>

            </div>

        </div>

        <div class="col-sm-9 col-md-8">

            <h2 class="header-box" id="terms">24/7 Mixtapes Terms and Conditions</h2>

            <div class="text">

                
                <p>
                This site is owned and operated by 247Mixtapes.com. These terms of use apply to and govern your, and any authorized user of your account, use of this site, including all services provided therein. Your use of this site signifies your agreement to be bound by these terms of use. If you do not agree tobe bound by these terms of use, do not access or otherwise use this site. 247Mixtapes.com reserves the right, at its sole discretion, to change, modify, add or remove any portion of this site or these terms of use, in whole or in part, at any time. Changes to these terms of use will be effective whenposted. You agree to review these terms of use periodically to be aware of any changes. Your continued use of this site after any changes to these terms of use are posted will be considered acceptance of those changes.
                </p>
                <h3 id="license">License To Use This Site</h3>

                <p>
                247Mixtapes.com grants you a non-exclusive, non-transferable, limited right to access, use and display this site and the materials thereon for your personal use only, provided that you comply fully with these terms of use. 247Mixtapes.com reserves the right to monitor content on the site and to remove content which 247Mixtapes.com, in its sole discretion, determines to be harmful, offensive, or otherwise in violation of these terms.
				</p>
 				<p>All users must be 18 years or older or must have permission from a parent or legal guardian for the use of this website.
                </p>
                 <h3 id="disclaimer">Disclaimer</h3>
                 <p>
					247Mixtapes.com would like to state that all content on this website is provided FREE courtesy of the mixtape djs / vjs who produced the various audio and video mixes . The content is provided FREE for promotional use only - NOT FOR SALE. All monies paid to 247Mixtapes.com are for website subscription / bandwidth usage / maintenance of the website and promotional services.
                 
                 </p>
                 <h3 id="liability">Limited Liability</h3>
                 <p>
					Under no circumstances, including, but not limited to, negligence, shall 247Mixtapes.com be liable for any indirect, special, exemplary, or consequential damages that result from the use of, or the inability to use, the site, the site's materials, or the software, even if 247Mixtapes.com has been advised of the possibility of such damages. In no event shall 247Mixtapes.com's total liability to you for all damages, losses, and causes of action (whether in contract, tort, including, but not limited to, negligence, or otherwise) exceed the amount paid by you, if any, for accessing this site. Because some states do not allow the exclusion or limitation of liability for consequential or incidental damages, the above limitation may not apply to you. In such states, 247Mixtapes.com's liability is limited to the greatest extent permitted by law.
                 </p>
                 <h3 id="idemnification">Indemnification</h3>
                 <p>
					You agree to indemnify, defend and hold harmless 247Mixtapes.com, its officers, directors, employees, agents, licensors, suppliers and any third party information providers to the site from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this Agreement by you.
					</p> <p>
					The provisions of these Terms of Use are for the benefit of 247Mixtapes.com and its agents, directors, employees, licensors, officers, suppliers, and any third party information providers to the site. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.
				</p>
				<h3 id="user">User Submissions</h3>
                 <p>
					Any material, information or other communication you transmit or post to this site, unless specified, will be considered non-confidential and non-proprietary communications. 247Mixtapes.com shall have no obligations with respect to the communications. 247Mixtapes.com and its designees shall be free to copy, disclose, distribute, incorporate and otherwise use the communications and all data embodied therein for any and all commercial or non-commercial purposes. <b>No compensation will be paid with respect to the use of your submission, as provided herein.</b>
                 </p>
                 <h3 id="renewal">Automatic Membership Renewal</h3>
                 <p>
                 
				All monthly 247Mixtapes.com membership are automatically renewed via our backend system. This means that you will not have to purchase consectutive memberships for each month. If you do not wish to be charged for another month of service you can easily cancel your membership within your 247Mixtapes account. By signing up on this website you accept and understand how our automatic membership renewal system works
                 </p>
                 <h3 id="refund">Refunds Policy</h3>
                 <p>
					You may request a refund for any of our memership services within 24 hours of the membership start. Refunds WILL NOT be honored if requested after the 24 hour allowance timeframe.
                 </p>
                 <h3 id="termination">Termination</h3>
                 <p>
					You understand and agree that 247Mixtapes.com may, in its sole discretion and at any time, terminate your account, and discard and remove any content posted or submitted by you, for any reason. You understand and agree that 247Mixtapes.com may take any one or more of these actions without prior notice to you. Should 247Mixtapes.com take any of these actions, it may, in its sole discretion, immediately deactivate and/or delete any or all information about and concerning your account, including your Registration Information and submitted content. You understand and agree that 247Mixtapes.com shall not have any liability to you or any other person for any termination of your access and/or the removal of information concerning your account. 
                 </p>
            </div>

        </div>

     

    </div>
    </div>
    {% endblock content %}