{% extends "index.html" %}
{% load staticfiles sekizai_tags %}
{% block pagetitle %}
  <title>People // 24/7Mixtapes</title>
  {% endblock pagetitle %}
{% block content %}

{% block genreheader %}

{% endblock genreheader %}
<div class="container">
    <h1>People</h1>
<div class="row" style="text-align:center;">

	<ul class="filter-group">
    	<li class="sort btn btn-info" data-sort="data-username" data-order="desc">
    		Username <i class="icon-circle-arrow-up"></i>
    	</li>
    	<li class="sort btn btn-info" data-sort="data-username" data-order="asc">
    		Username <i class="icon-circle-arrow-down"></i>
    	</li>    	
	</ul>

</div>

<div class="row"  style="">

<div class="thumbnails gallery-post-grid holder" id="grid">
 
           {% for mt in users %}
           <div class="col-sm-3 col-xs-6 mix gallery-item mix_all" id="" data-username="{{ mt.username }}">
                        <div class="standard-extend-item gallery">
                       <!-- <span class="author"><a href="{{ mt.get_url }}"> <strong> {{ mt.name }} </strong></a></span>-->

                           <div class="standard-extend-item">
                        <a class="image" href="{{ mt.get_url }}">
                            <span class="date date-full">
                                <span class="day">{{ mt.created.day }}</span>
                                <span class="month">{{ mt.created|date:'M' }}</span>
                                <span class="year">{{ mt.created.year}}</span>
                            </span>
                            
                            <img class="img-responsive full-width img-styles" style="height:200px" src="{{ mt.profile_image}}" alt="{{ mt.username }}">
                            
                        </a>
                        <h3>
                            <a href="{{ mt.get_url }}">{{ mt.username|title }}</a>
                        </h3>
                    </div>
                           
                           
                        </div>
                    </div>
 
           {% endfor %}


</div>
</div>
							
 <!-- pagination section-->
<div class="row">
    <ul class="pagination">
  {% if users.has_previous %}
  <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
  {% endif %}

  {% for i in users.paginator.page_range %}
      <li {% if users.number == i %}class="active"{% endif %}>
          <a href="?page={{i}}">{{i}}</a>
      </li>
  {% endfor %}
  {% if users.has_next %}
  <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
  {% endif %}
</ul>
</div>


{% addtoblock "bottom_js" %}
<script src="{% static 'mixitup/mixitup.js' %}"></script>
<script>

	$(function() {
		$('#grid').mixitup({
			buttonEvent: 'click',
			effects: ['fade','scale'],
			easing: 'windup',				
		});		
	});

</script>

 <script>

        function equalHeights (target) {
            $(target).height('auto');

            var heights = []
            $(target).each(function(){
                heights.push($(this).height());             
            });
            var highest = Math.max.apply(Math, heights)
            $(target).height(highest);
        }    

        $(function() {
            equalHeights('.mix');
            $(window).resize(function(){
                $('.mix').css('height', 'auto');
            });
        });

    </script>
{% endaddtoblock %}

{% endblock content %}
