<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a05a232cbd2653"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'services' : 'twitter,facebook,pinterest,tumblr,gmail,more',
    }, 
    'follow' : {
      'services' : [
        {'service': 'twitter', 'id': '247mixtapes'}
      ]
    }
  });
</script>
<!-- AddThis Smart Layers END -->