{% for mt in object_list %}
    <div class="media visible-phone">
        <a href="{{mt.get_absolute_url}}" class="pull-left" target="_blank">
            <img class="img-circle" style="width: 120px; height: 120px;" src="{{mt.get_mixtape_thumnail}}">
        </a>
        <div class="media-body">
            <a href="{{mt.get_absolute_url}}" target="_blank">
                <h2 class="media-heading">---{{mt.name}}</h2>---
            </a>
            <div class="meta">
                <p>
                    ft.
                    <strong>{{mt.primaryArtist.username}}</strong>
                </p>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            <div class="badge badge-info">Released</div>
                        </td>
                        <td>
                            {{mt.releaseDatetime}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="badge badge-info">Genre</div>
                        </td>
                        <td>
                            {{mt.primaryGenre}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="badge badge-info">Rank</div>
                        </td>
                        <td>
                            {{mt.rank}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="badge badge-info">Downloads</div>
                        </td>
                        <td>
                            {{mt.downloads}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="badge badge-info">Playbacks</div>
                        </td>
                        <td>
                            {{mt.totalplaybacks}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="badge badge-info">Addons</div>
                        </td>
                        <td>
                            {% if mt.active_addons %}
                                {% for ao in mt.active_addons %}
                                   !!!!!!!!! <a class="label label-info addon-link" href="{{mt.addons_url}}">
                                        {{ao.title}}
                                    </a><br>
                                {% endfor %}
                            {% else %}
                                {{mt}}{{mt.addons_url}}
                                ##<a class="badge badge-info addon-link red-addon-link" href="{{mt.addons_url}}">Get add-ons? <i class="icon-chevron-sign-right"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            {% if mt.can_edit %}

                <a class="btn btn-info btn-large btn-span whitewords" href="{% url 'mixtape_create' mixtapeid=mt.id %}" style="color: white !important; margin-top: 10px">
                    <i class="icon-edit"></i> Edit
                </a>

            {% endif %}
        </div>
    </div>
    {% if not forloop.last %}       
        <hr class="visible-phone">
    {% endif %}
{% endfor %}