         
          <!-- Indicators -->
    <ol class="carousel-indicators">
         {% for mt in slider %}
                    <li data-target="#carousel-main" data-slide-to="{{forloop.counter}}" class="indicator" id="forloopcount"></li>
                {% endfor %}
    </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:206px;">
      {% for mt in slider %}
    
        <div class="item {% if forloop.first %}active{% endif %}" style="height:206px;">
         <a href="{{ mt.get_absolute_url }}">
            <img src="{{mt.slider_album_cover}}" alt="slide-1" style="height:206px;width:100%;" >
            <div class="carousel-caption">
                <h1 class="carousel-heading">{{ mt.name }}</h1>
            </div>
            </a>
        </div>
  
  {%  endfor %}
  
    </div>

  <!-- Controls -->
    <a class="left carousel-control" href="#carousel-main" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-main" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  
  
         
         
         
         
         
         
         
       